/* Fondo retro gamer */
.gamer-bg {
  background: url('https://media.istockphoto.com/id/1726338931/es/v%C3%ADdeo/un-fondo-de-tecnolog%C3%ADa-futurista.jpg?s=640x640&k=20&c=NuRwCHzGm39i-a4NZZ2yqSfunKQJn8ifwU2dD8dfCYs=') no-repeat center center fixed;
  background-size: cover;
}

/* Quitar el fondo blanco que pone Bootstrap */
.card,
.card-body {
  background: transparent !important;  /* 👈 elimina el blanco */
}

/* Caja registro gamer */
.gamer-card {
  border: 2px solid #0f0;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.8);  /* 👈 negro translúcido gamer */
  box-shadow: 0 0 25px #0f0, 0 0 45px #f00 inset;
  overflow: hidden;
  height: 100%;
}

.gamer-img {
  height: 100%;       /* ocupar todo el alto */
  width: 100%;
  object-fit: cover;  /* rellena el espacio sin deformar mucho */
  display: block;
}



/* Títulos */
.text-neon {
  font-family: "Press Start 2P", monospace;
  font-size: 18px;
  color: #0f0;
  text-shadow: 0 0 5px #0f0, 0 0 15px rgb(0, 0, 0);
}

.gamer-subtitle {
  font-family: "Press Start 2P", monospace;
  font-size: 12px;
  color: rgb(166, 255, 0);
  text-shadow: 0 0 5px #f00;
}

/* Inputs */
.gamer-input {
  font-family: "Press Start 2P", monospace;
  font-size: 12px;
  background: #111;
  border: 2px solid #0f0;
  color: #0f0;
  padding: 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.gamer-input:focus {
  border-color: #f00;
  box-shadow: 0 0 10px #f00;
  background: #000;
  color: #000000;
}

/* Botón */
.gamer-btn {
  font-family: "Press Start 2P", monospace;
  background: #000;
  border: 2px solid #f00;
  color: #f00;
  padding: 10px 20px;
  transition: 0.3s;
}

.gamer-btn:hover {
  background: #0f0;
  color: #000;
  border-color: #0f0;
  box-shadow: 0 0 15px #0f0;
}
